<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="no code, neural networks" />
        <meta name="description" content="A no-code development platform (NCDP) for rapid prototyping and visualization of neural networks behaviour on custom data." />
        <title>No code neural networks</title>
      </head>

      <body>
        <script src="./client_app.js" defer></script>
      </body>
    </html>