%nav_dropdown-open {
  @include themify() {
    background-color: getThemifyVariable('modal-background-color');
    border: 1px solid getThemifyVariable('modal-border-color');
    box-shadow: 0 0 18px 0 getThemifyVariable('shadow-color');
    color: getThemifyVariable('dropdown-color');
  }
  display: flex;
  flex-direction: column;
  width: #{80 / $base-font-size}rem;
  height: auto;
  border-radius: #{3 / $base-font-size}rem;
  position: absolute;
  z-index: 9999;
}

%forms-button {
	background-color: $form-button-background-color;
	color: $form-button-color;
	cursor: pointer;
	border: 2px solid $form-button-color;
	border-radius: 2px;
	padding: #{8 / $base-font-size}rem #{25 / $base-font-size}rem;
	line-height: 1;
  margin: #{39 / $base-font-size}rem 0 #{24 / $base-font-size}rem 0;
	&:enabled:hover {
		border-color: $form-button-background-hover-color;
		background-color: $form-button-background-hover-color;
		color: $form-button-hover-color;
	}
	&:enabled:active {
		border-color: $form-button-background-active-color;
		background-color: $form-button-background-active-color;
		color: $form-button-active-color;
	}
}

%icon-toast{
	@include themify() {
		color: white
		& g {
			fill: white
		}
		&:hover {
			color: getThemifyVariable('icon-toast-hover-color');
			& g {
				opacity: 1;
				fill: getThemifyVariable('icon-toast-hover-color');
			}
		}
	}
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}
